<div class="ventana">
  <div>
    <input
      *ngIf="!isRunning"
      id="startButton"
      type="button"
      value="Start"
      (click)="start()" />
    <input
      *ngIf="isRunning"
      id="startButton"
      type="button"
      value="Stop"
      (click)="stop()" />
  </div>
  <br />
  <div class="panel">
    <app-box *ngFor="let box of getFallingBoxes()" [box]="box"></app-box>
    <app-box *ngFor="let box of getBoardBoxes()" [box]="box"></app-box>
  </div>
  <div class="statistics" *ngIf="showStatistics">
    <div class="row">
      <div class="column">Tube</div>
      <div class="column">Figure</div>
      <div class="column">Board</div>
    </div>
    <div class="row">
      <div class="column">Flux</div>
      <div class="column">{{ statistics[0][0] }}</div>
      <div class="column">{{ statistics[0][1] }}</div>
    </div>
    <div class="row">
      <div class="column">Kafka</div>
      <div class="column">{{ statistics[1][0] }}</div>
      <div class="column">{{ statistics[1][1] }}</div>
    </div>
    <div class="row">
      <div class="column">Minutes:</div>
      <div class="column">{{ minutesEllapsed }}</div>
    </div>
    <div class="row">
      <div class="column">Sets of Figure:</div>
      <div class="column">{{ setsOfFigure }}</div>
    </div>
    <div class="row">
      <div class="column">Sets of Board:</div>
      <div class="column">{{ setsOfBoard }}</div>
    </div>
  </div>
</div>
