.ventana {
  box-sizing: unset !important;
  width: 100%;
}

.panel {
  box-sizing: unset !important;
  width: 201px;
  height: 401px;
  background-color: black;
  border: 1px solid white;
  position: relative;
}