.ventana {
  width: 100%;
}

.panel {
  width: 201px;
  height: 401px;
  background-color: black;
  border: 1px solid white;
  position: relative;
}

.box {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: blue;
  border: 1px solid white;
}
